# Metaflow files
.metaflow/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Editor settings
.vscode/
.idea/ 